body {
    background-color: black;
    color: aliceblue;
}

img {
    width: 300px;
}

.lista-filmes {
    display: flex;
}

.filme {
    border: 1px solid #FFF;
    text-align: center;
    margin: 5px 5px;
}